hr {
  margin: 3em;
  max-width: none;
  min-width: none;
  align-items: center;
  text-align: center;
  align-self: center;
  border: 1px dashed var(--accent-color);
  background-color: var(--bkg-color);
}

hr.round {
  border: 2px solid var(--border-color);
  border-radius: 5px;
}

article strong {
  font-family: var(--font-family);
  font-size: 1.1em;
  background-color: var(--bkg-color);
  padding-left: 0.2em ;
  border-radius: 5px;
  color: var(--border-color);
}

article code {
  font-family: var(--font-family);
  font-size: 1.1em;
  background-color: var(--bkg-color);
  padding-left: 0.2em ;
  padding-right: 0.2em ;
  border-radius: 5px;
  color: var(--accent-color);
}

article img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin: auto;
  width: 1024px; 
  padding: 5px;
}

@font-face {
  font-family: "IBM Plex Sans Roman";
  src: local("IBM Plex"), url("../assets/IBMPlexSansVarRoman.ttf");
  font-display: swap;
}

:root {
  --text-color: #333;
  --border-color: #feae45;
  --bkg-color: white;
  --line-color: #00a672;
  --link-color: #7a5422;
  --accent-color: #ff1493;
  --bkg-logo-color: #fecd43a0;
  --diagram-color: #00a672;
  --skilllist-col-color: #030200;
  --reverted-color: 0;
}
:root [data-theme="sepia"] {
  --text-color: #433422;
  --border-color: #00a672;
  --bkg-color: #f1e7d0;
  --line-color: #5a64c4;
  --link-color: #015238;
  --accent-color: #ff1493;
  --bkg-logo-color: #fecd43a0;
  --reverted-color: 0;
}

:root [data-theme="dark"] {
  --text-color: #ffffffcb;
  --border-color: #5a64c4;
  --bkg-color: #030200;
  --line-color: #fecd43;
  --link-color: #587af7;
  --accent-color: #ff1493;
  --bkg-logo-color: #fecd43a0;
  --reverted-color: 1;
}

body {
  min-width: 24em;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  border: 15px solid var(--border-color);
  min-height: 100vh;
  background-color: var(--bkg-color);
  color: var(--text-color);
  transition: background 0.3s;
}

.layout {
  max-width: 760px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  font-family: "IBM Plex Sans Roman";
  color: inherit;
  text-decoration: inherit;
  transition: color 1s;
}
a:hover {
  color: var(--link-color);
  text-decoration: inherit;
  transition: color 0.3s;
}

article a {
  font-family: "IBM Plex Sans Roman";
  color: var(--link-color);
  text-decoration: underline;
  transition: color 1s;
}
article a:hover {
  color: var(--accent-color);
  text-decoration: inherit;
  transition: color 0.3s;
}
article h2,
article h3,
article h4,
article h5,
article h6 {
  text-justify: none;
  text-align: start;
  margin: 0;
  font-family: Gotham, Tahoma, sans-serif;
  color: var(--border-color);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
article h4,
article h5,
article h6 {
  font-size: 1em;
}
article h2 {
  font-size: 2em;
  text-decoration: none;
  counter-reset: h3counter;
}
article h3 {
  font-size: 1.5em;
  counter-reset: h4counter;
}
article h3:before {
  content: counter(h3counter) ".\0000a0";
  counter-increment: h3counter;
}
article h4 {
  counter-reset: h5counter;
}
article h4:before {
  content: counter(h3counter) "." counter(h4counter) ".\0000a0";
  counter-increment: h4counter;
}
article h5 {
  counter-reset: h6counter;
}
article h5:before {
  content: counter(h5counter) ")" "\0000a0";
  counter-increment: h5counter;
}
article h6 {
  counter-reset: h7counter;
}
article h6:before {
  content: counter(h5counter) "." counter(h6counter) ")" "\0000a0";
  counter-increment: h6counter;
}
article .mermaid {
  border: 3px solid var(--border-color);
  border-radius: 15px;
  margin: auto;
  margin-bottom: 2em;
  transition: 2s;
  text-align: center;
  background-color: black;
}
article .mermaid rect {
  fill: var(--diagram-color) !important;
  stroke: var(--border-color) !important;
  border-radius: 15px;
  stroke-width: 1px !important;
  text-align: center;
  border: thick double var(--txt-color);
}

article g rect.basic.label-container {
  filter: invert(0.8);
  border: red;
}

article g g.clusters g#n1.cluster.default rect {
  filter: invert(0.3);
}

article g g.cluster-label foreignObject div span.nodeLabel {
  color: var(--bkg-color) !important;
  margin-bottom: 4em !important;
  padding-bottom: 4em !important;
}

article ul li {
  padding-bottom: 1em;
}

article ol li {
  padding-bottom: 1em;
}

article .mermaid path {
  stroke: var(--accent-color) !important;
  stroke-width: 2px !important;
}
article .mermaid .label {
  color: var(--bkg-color) !important;
}
article .mermaid .edgeLabel {
}
article pre {
  border-radius: 10px;
  filter: invert(0.9);
}
article .img-cover {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}
article .text-img-container {
  float: left;
  margin-right: 1em;
  padding: 1em;
  width: 10em;
  border-radius: 10px;
  text-align: center;
}
article .text-letter-container {
  float: left;
  margin-right: 1em;
  padding: 1em;
  width: 5em;
  border: thick double var(--border-color);
  border-radius: 10px;
  text-align: center;
}
article .text-img {
  background-color: white;
  border-radius: 5px;
  width: 8em;
}
article .text-letter {
  border-radius: 3px;
  width: 3em;
  font-family: emoji;
  color: var(--accent-color);
  font-style: italic;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 1em;
}
article .contenttable {
  font-size: 0.9em;
  margin: 1em;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
  text-decoration: none;
  background-color: var(--diagram-color) !important;
  color: var(--text-color) !important;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  text-justify: none;
  text-align: start;
}

article .contenttable ul li {
  margin-bottom: 0em !important;
  padding-bottom: 0em !important;
}

article .contenttable ul li p {
  margin: 0;
  padding: 0;
}
article .contenttable a {
  padding: 1px;
  color: black;
  text-decoration: none;
}
article .contenttable a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}
article table {
  margin-bottom: 2em;
  padding: 2em;
}
article table tr {
  border: 1px solid var(--border-color);
  padding: 5px;
}
article table td {
  border: 1px solid var(--border-color);
  padding: 10px;
}
article table th {
  padding: 10px;
  text-align: center;
  color: var(--border-color);
}